{% extends "base.html.twig" %}

{% block head %}
    <title>開催イベント一覧|OMUSVi</title>
    <meta name="description" content="オムスビ開催のイベント一覧。愛知県名古屋・栄を中心に出会える合コン街コンを開催しています！イベントで名古屋を活性化！">
{% endblock %}

{% block og %}
    <meta property="og:site_name" content="OMUSVi">
    <meta property="og:title" content="開催イベント一覧|OMUSVi">
    <meta property="og:description" content="オムスビ開催のイベント一覧。愛知県名古屋・栄を中心に出会える合コン街コンを開催しています！イベントで名古屋を活性化！">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ app.request.uri }}">
    <meta property="og:image" content="">
{% endblock %}
    
{% block twitter %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ app.request.uri }}">
    <meta name="twitter:description" content="オムスビ開催のイベント一覧。愛知県名古屋・栄を中心に出会える合コン街コンを開催しています！イベントで名古屋を活性化！"/>
    <meta name="twitter:image" content="ogpのURL貼る">
{% endblock %}


{% block main %}
<section class="sw-Section">
    <div class="sw-Event_Counter"><span>{{ total }}</span>件中 {{ start }}~{{ end }}件</div>
    {% for myEvent in pagination %}
        <div class="sw-Event">
            <div class="sw-Event_Inner">
                <div class="sw-Event_Img">
                <a href="{{ path('my_event_show', {'id': myEvent.id}) }}">
                <img src="{{ vich_uploader_asset(myEvent, 'imageFile') }}" alt="{{ myEvent.imageName }}">
                </a>
                </div>
                {#<p class="sw-Event_ScheduleText">#}
                {#まだ空きございます！応募締め切りまで00:00時まで！#}
                {#</p>#}
                <div class="sw-Event_Info">
                    <span class="sw-Event_Info-place"><i class="fas fa-map-marker-alt"></i> {{ myEvent.myEventVenue.prefecture }}</span>
                    <span class="sw-Event_Info-date">{{ myEvent.myEventSchedule.eventDay|date("n月j日") }} {{ myEvent.myEventSchedule.startTime|date("G:i") }}〜</span>
                </div>
                <h1 class="sw-Event_Title">
                <a href="{{ path('my_event_show', {'id': myEvent.id}) }}">{{ myEvent.name }}</a>
                </h1>
                <div class="sw-Event_Person">
                    <div class="sw-Event_Person-woman">
                        <div class="sw-Event_WomanUnit">
                            <div class="sw-Event_WomanIcon">
                                <i class="fas fa-ribbon"></i>
                            </div>
                            <div class="sw-Event_WomanInfo">
                                <div class="sw-Event_WomanInfo-limit">{{ myEvent.myEventSchedule.womanTerms }}</div>
                                <span class="sw-Event_WomanInfo-price">{{ myEvent.womanPrice|number_format }}円</span>
                            </div>
                        </div>    
                    </div>
                    <div class="sw-Event_Person-man">
                        <div class="sw-Event_ManUnit">
                            <div class="sw-Event_ManIcon">
                                <i class="fab fa-black-tie"></i>
                            </div>
                            <div class="sw-Event_ManInfo">
                                <div class="sw-Event_ManInfo-limit">{{ myEvent.myEventSchedule.manTerms }}</div>
                                <span class="sw-Event_ManInfo-price">{{ myEvent.menPrice|number_format }}円</span>
                            </div>
                        </div>    
                    </div>
                </div>
                <p class="sw-Event_Desc">{{ myEvent.description }}</p>
                {% if not myEvent.tags.empty %}
                <ul class="sw-Event_TagItems">
                {% for myEventTag in myEvent.tags %}
                    <li class="sw-Event_TagItem">
                        <a href="{{ path('my_event_search', {'tag': myEventTag.name == app.request.query.get('tag') ? null : myEventTag.name}) }}">
                            <i class="fas fa-hashtag"></i> {{ myEventTag.name }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
                {% endif %} 
                {# <div class="sw-Event_Btn"><a href="{{ path('my_event_show', {'id': myEvent.id}) }}">詳細をみる</a></div> #}
            </div>
        </div>

        <div class="sw-Event_Pagination">
            {{ knp_pagination_render(pagination, null, {}, {align: "center"}) }}
        </div>

        {% else %}
        <p style="padding: 0 5px;">現在開催中のイベントはございません。</p>
        {% endfor %}
</section>
{% endblock %}