{% extends "base.html.twig" %}

{% block head %}
	<title>OMUSVi - 愛知県名古屋を中心にイベント・街コンを開催中</title>
	<meta name="description" content="オムスビは、愛知県,名古屋・栄を中心に出会える合コン街コンを開催しています！イベントで名古屋を活性化！地域密着型の街コンをに掲載するサイト！出会えるイベントを掲載しています。">
	<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block main_outer %}
	<section class="sw-Section">
		<div class="purchses-New">
			<h1 class="purchses-New_Title">支払い方法を確認</h1>
			<h2>申込内容</h2>
			<div class="purchses-New_Inner">
				<div class="purchses-New_Unit">
					<div class="purchses-New_EventImg">
						<img src="{{ vich_uploader_asset(my_event, 'imageFile') }}" alt="{{ my_event.imageName }}">
					</div>
					<div class="purchses-New_EventContent">
						<time class="purchses-New_EventContent-date">{{ my_event.startAt|date("n月j日 G:i") }}〜</time>
						<p class="purchses-New_EventContent-name">{{ my_event.name }}</p>
					</div>
				</div>
				<div class="purchses-New_Ticket">
					<div class="purchses-New_EventUnit">
						<div class="purchses-New_EventUnit-left">
							枚数
						</div>
						<div class="purchses-New_EventUnit-left">
							{{ my_event_ticket.numberUnit }}
						</div>
					</div>
					<div class="purchses-New_EventUnit">
						<div class="purchses-New_EventUnit-left">
							{% if my_event_ticket.gender == "female" %}
								女性{{ my_event_ticket.numberUnit }}人チケット
							{% else %}
								男性{{ my_event_ticket.numberUnit }}人チケット
							{% endif %}
						</div>
						<div class="purchses-New_EventUnit-left">
							{{ my_event_ticket.price|number_format }}
						</div>
					</div>
				</div>
			</div>
			<h2>決済方法</h2>
			<div class="purchses-New_Inner">
				<div class="purchses-New_Payment">
					<div class="purchses-New_PaymentUnit">
						<div class="purchses-New_EventUnit-left">
							{% if paymentData == "bt" %}
								銀行振込
							{% elseif paymentData == "lp" %}
								当日受付払い
							{% endif %}
								{# クレジットカード
							{% endif %} #}
						</div>
					</div>
					<div class="purchses-New_Payment-desc">
						{% if paymentData == "bt" %}
							<p>
								購入手続き後完了後メールにてご案内させて頂きますのでお振込みをお願い致します。<br>
								お振込後マイページの申込中イベントの入金報告ボタンから入金報告を行なってください。<br>
								事務局で入金の確認ができましたらメールにて通知いたします。<br>
								入金確認は最大48時間以内に対応いたします。<br>
								※別途振込み手数料は、恐れ入りますがご負担くださいませ。
							</p>
						{% elseif paymentData == "lp" %}
							<p>
								チケット料金はイベント会場にてお支払いお願いいたします。<br>
								受付の際に、料金のお支払い・ご本人様確認をさせていただきますので、お名前とご年齢がわかるもの（運転免許証、パスポートなど）をご持参ください。
							</p>
						{# {% else %} #}		
						{% endif %}
					</div>
					{{ form_start(form, {'method': 'post', 'action': path('my_event_purchases_complete', {'id': my_event.id, 'myEventTicket': my_event_ticket.id}), 'attr': {'class': 'purchses-New_PaymentForm'}}) }}
					{{ form_rest(form) }}
					<button class="btn-primary sw-Btn btn-block" type="submit">購入する</button>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
