{% extends 'base.html.twig' %}

{% block title %}Flow index{% endblock %}

{% block body %}
    <h1>Flow index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Start_time</th>
                <th>Title</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for flow in flows %}
            <tr>
                <td>{{ flow.id }}</td>
                <td>{{ flow.startTime ? flow.startTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ flow.title }}</td>
                <td>{{ flow.content }}</td>
                <td>
                    <a href="{{ path('flow_show', {'id': flow.id}) }}">show</a>
                    <a href="{{ path('flow_edit', {'id': flow.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('flow_new') }}">Create new</a>
{% endblock %}
