{% extends 'base.html.twig' %}

{% block title %}Flow{% endblock %}

{% block body %}
    <h1>Flow</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ flow.id }}</td>
            </tr>
            <tr>
                <th>Start_time</th>
                <td>{{ flow.startTime ? flow.startTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ flow.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ flow.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('flow_index') }}">back to list</a>

    <a href="{{ path('flow_edit', {'id': flow.id}) }}">edit</a>

    {{ include('flow/_delete_form.html.twig') }}
{% endblock %}
