<div class="sw-Event">
    <div class="sw-Event_Inner">
        <div class="sw-Event_Img">
            <a href="{{ path('my_event_show', {'id': my_event.id}) }}">
                <img src="{{ vich_uploader_asset(my_event, 'imageFile') }}" alt="{{ my_event.imageName }}">
            </a>
        </div>

        <div class="sw-Event_Info">
            {% if my_event.myEventVenue %}
                <span class="sw-Event_Info-place"><i class="fas fa-map-marker-alt"></i>
                    {{ my_event.myEventVenue.prefecture }}
            </span>
            {% else %}
                <span class="sw-Event_Info-place"><i class="fas fa-map-marker-alt"></i>
                     会場未定
            </span>
            {% endif %}
            <span class="sw-Event_Info-date">{{ my_event.startAt|date("n月j日 G:i") }}〜</span>
        </div>
        <h1 class="sw-Event_Title">
            <a href="{{ path('my_event_show', {'id': my_event.id}) }}">{{ my_event.name }}</a>
        </h1>
        <div class="sw-Event_Person">
            <div class="sw-Event_Person-woman">
                <div class="sw-Event_WomanUnit">
                    <div class="sw-Event_WomanIcon">
                        <i class="fas fa-female"></i>
                    </div>
                    <div class="sw-Event_WomanInfo">
                        {%  if my_event.femaleAgeLower %}
                        <div class="sw-Event_WomanInfo-limit">
                            {{ my_event.femaleAgeLower }}歳〜{%  if my_event.femaleAgeUpper %}{{ my_event.femaleAgeUpper }}歳{% endif %}
                        </div>
                        {% endif %}
                        <div class="sw-Event_WomanInfo-text">
                            {% include '_parts/female_count.html.twig' with {'myEvent': my_event} %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="sw-Event_Person-man">
                <div class="sw-Event_ManUnit">
                    <div class="sw-Event_ManIcon">
                        <i class="fas fa-male"></i>
                    </div>
                    <div class="sw-Event_ManInfo">
                        {%  if my_event.maleAgeLower %}
                        <div class="sw-Event_ManInfo-limit">
                            {{ my_event.maleAgeLower }}歳〜{%  if my_event.maleAgeUpper %}{{ my_event.maleAgeUpper }}歳{% endif %}
                        </div>
                        {% endif %}
                        <div class="sw-Event_ManInfo-text">
                            {% include '_parts/male_count.html.twig' with {'myEvent': my_event} %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="sw-Event_Desc">{{ my_event.description }}</p>
        {% if not my_event.tags.empty %}
            <ul class="sw-Event_TagItems">
                {% for myEventTag in my_event.tags %}
                    <li class="sw-Event_TagItem">
                        <a href="{{ path('my_event_search', {'tag': myEventTag.name == app.request.query.get('tag') ? null : myEventTag.name}) }}">
                            <i class="fas fa-hashtag"></i> {{ myEventTag.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>