{% extends "base.html.twig" %}

{% set title = "{{ my_event.name }}" %}
{% set description = "{{ my_event.description }}" %}
{% set canonical = 'canonical' %}


{% block main %}
<section class="sw-Section">
    <div class="venue-Content">
        <div class="venue-Content_Inner">
            <h1 class="venue-Content_Title">イベント会場一覧</h1>
            <p class="venue-Content_Desc">
                オミパリのイベント会場に登録いただいている飲食店一覧です。<br>
            </p>
            {% for my_event_venue in my_event_venues %}
                <div class="venue-Area">
                    <h2 class="venue-Area_Name">{{ my_event_venue.name }}</h2>
                    <p class="venue-Area_Address">{{ my_event_venue.address }}</p>
                    {% if my_event_venue.map %}
                        <div class="venue-Area_Map"><iframe src={{ my_event_venue.map|raw }}></iframe></div>
                    {% endif %}                
                    <div class="venue-Area_Access">
                        <p>
                        アクセス<br>
                        {{ my_event_venue.traffic }}
                        </p>
                    </div>
                    <div class="venue-Area_Url">
                        <p>
                        URL：<a href="{{ my_event_venue.traffic }}">{{ my_event_venue.traffic }}</a>
                        </p>
                    </div>
                </div>
                {% else %}
            {% endfor %}
        </div>
    </div>  
</section>
{% endblock %}
