{% extends "base.html.twig" %}

{% block head %}
    <title>イベント会場一覧|OMUSVi</title>
    <meta name="description" content="オムスビのイベント会場の一覧。名古屋、栄、伏見近辺の会場を利用しています。">
{% endblock %}

{% block og %}
    <meta property="og:site_name" content="OMUSVi">
    <meta property="og:title" content="OMUSViトップ">
    <meta property="og:description" content="オムスビのイベント会場の一覧。名古屋、栄、伏見近辺の会場を利用しています。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ app.request.uri }}">
    <meta property="og:image" content="">
{% endblock %}
    
{% block twitter %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ app.request.uri }}">
    <meta name="twitter:description" content="オムスビのイベント会場の一覧。名古屋、栄、伏見近辺の会場を利用しています。"/>
    <meta name="twitter:image" content="ogpのURL貼る">
{% endblock %}


{% block main %}
<section class="sw-Section">
    <div class="venue-Content">
        <div class="venue-Content_Inner">
            <h1 class="venue-Content_Title">イベント会場一覧</h1>
            <p class="venue-Content_Desc">
                オミパリのイベント会場に登録いただいている飲食店一覧です。<br>
            </p>
            {% for my_event_venue in my_event_venues %}
                <div class="venue-Area">
                    <h2 class="venue-Area_Name">{{ my_event_venue.name }}</h2>
                    <p class="venue-Area_Address">{{ my_event_venue.address }}</p>
                    {% if my_event_venue.map %}
                        <div class="venue-Area_Map"><iframe src={{ my_event_venue.map|raw }}></iframe></div>
                    {% endif %}                
                    <div class="venue-Area_Access">
                        <p>
                        アクセス<br>
                        {{ my_event_venue.traffic }}
                        </p>
                    </div>
                    <div class="venue-Area_Url">
                        <p>
                        URL：<a href="{{ my_event_venue.traffic }}">{{ my_event_venue.traffic }}</a>
                        </p>
                    </div>
                </div>
                {% else %}
            {% endfor %}
        </div>
    </div>  
</section>
{% endblock %}
