{% trans_default_domain 'FOSUserBundle' %}

{% if form is defined %}
        {% form_theme form "form/layout.html.twig" %}
{% endif %}
    
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register registration-Form'}}) }}
    {{ form_label(form.userDetail.firstName, '氏名', {'label_attr': {'class': 'registration-Form_Label'}}) }}
    <div class="row mb-2">
        <div class="col-6">
            {{ form_widget(form.userDetail.firstName, { 'attr': {'placeholder':"性"} }) }}
        </div>
        <div class="col-6">
            {{ form_widget(form.userDetail.lastName, { 'attr': {'placeholder':"名"} }) }}
        </div>
    </div>
{{ form_label(form.userDetail.firstKana, '氏名（カナ）', {'label_attr': {'class': 'registration-Form_Label'}}) }}
    <div class="row mb-2">
        <div class="col-6">
            {{ form_widget(form.userDetail.firstKana, { 'attr': {'placeholder':"性カナ"} }) }}
        </div>
        <div class="col-6">
            {{ form_widget(form.userDetail.lastKana, { 'attr': {'placeholder':"名カナ"} }) }}
        </div>
    </div>

    {{ form_label(form.userDetail.gender,'',{'label_attr': {'class': 'registration-Form_Label'}}) }}
    <div class="row mb-2">
        <div class="col-6">
            {{ form_widget(form.userDetail.gender[0], { 'attr': {} }) }}
        </div>
        <div class="col-6">
            {{ form_widget(form.userDetail.gender[1], { 'attr': {'class': 'foo'} }) }}
        </div>
    </div>
    {{ form_label(form.userDetail.birthday,'',{'label_attr': {'class': 'registration-Form_Label'}}) }}
    <div class="row mb-2">
        <div class="col-4">
            {{ form_widget(form.userDetail.birthday['year'], { 'attr': {'placeholder':"年"} }) }}
        </div>
        <div class="col-4">
            {{ form_widget(form.userDetail.birthday['month'], { 'attr': {'placeholder':"月"} }) }}
        </div>
        <div class="col-4">
            {{ form_widget(form.userDetail.birthday['day'], { 'attr': {'placeholder':"日"} }) }}
        </div>
    </div>
    <div class="mb-2">
        {{ form_label(form.userDetail.telNumber,'',{'label_attr': {'class': 'registration-Form_Label'}}) }}
        {{ form_widget(form.userDetail.telNumber,{ 'attr': {'placeholder':"ハイフンなしで入力してください"} }) }}
    </div>
    <div class="mb-2">
        {{ form_label(form.email,'',{'label_attr': {'class': 'registration-Form_Label'}}) }}
        {{ form_widget(form.email, { 'attr': {'placeholder':"受信可能なアドレスを入力してください"} }) }}
    </div>
    <div class="row mb-4">
        <div class="col-sm-6 mb-2">
            {{ form_label(form.plainPassword['first'],'',{'label_attr': {'class': 'registration-Form_Label'}}) }}
            {{ form_widget(form.plainPassword['first'], { 'attr': {'class': 'foo'} }) }}
        </div>
        <div class="col-sm-6 mb-2">
            {{ form_label(form.plainPassword['second'],'',{'label_attr': {'class': 'registration-Form_Label'}}) }}
            {{ form_widget(form.plainPassword['second'], { 'attr': {'class': 'foo'} }) }}

        </div>
    </div>
    <div>
        <input type="submit" value="{{ '確認メールを送信' }}" class="sw-Btn btn-block" />
    </div>
{{ form_end(form) }}
