{% extends "base.html.twig" %}

{% block head %}
<title>OMUSVIトップ</title>
<meta name="description" content="オムスビは、愛知県名古屋市の出会える合コン街コンを開催しています！イベントで名古屋を活性化！地域密着型の街コンをに掲載するサイト！出会えるイベントを掲載しています。">
<link rel="canonical" href="{{ absolute_url(path('default_index')) }}">   
{% endblock %}

{% block og %}
    <meta property="og:site_name" content="OMUSVI">
    <meta property="og:title" content="OMUSVIトップ">
    <meta property="og:description" content="オムスビは、愛知県名古屋市の出会える合コン街コンを開催しています！イベントで名古屋を活性化！地域密着型の街コンをに掲載するサイト！出会えるイベントを掲載しています。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ absolute_url(path('default_index')) }}">
    <meta property="og:image" content="">
    {% endblock %}
    
    {% block twitter %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="サイトのURL貼る">
    <meta name="twitter:description" content="オムスビは、愛知県名古屋市の出会える合コン街コンを開催しています！イベントで名古屋を活性化！地域密着型の街コンをに掲載するサイト！出会えるイベントを掲載しています。" />
    <meta name="twitter:image" content="ogpのURL貼る">
    {% endblock %}

{% block main %}
<div class="top-Search">
    {% include 'default/_search_form.html.twig' with {'form': search_form} %}
</div>
<div class="top-Wide">
    <div class="top-Wide_Inner">
        <div class="top-Event">
        <h3 class="top-Wide_Title">注目のイベント</h3>
            <div class="top-Event_Inner">
                <div class="top-Event_Img">
                <a href="{{ path('my_event_show', {'id': feature_my_event.id}) }}">
                <img src="{{ vich_uploader_asset(feature_my_event, 'imageFile') }}" alt="{{ feature_my_event.imageName }}">
                </a>
                </div>
                {% if not feature_my_event.tags.empty %}
                <ul class="top-Event_TagItems">
                {% for myEventTag in feature_my_event.tags %}
                    <li class="top-Event_TagItem">
                        <a href="{{ path('my_event_search', {'tag': myEventTag.name == app.request.query.get('tag') ? null : myEventTag.name}) }}">
                            <i class="fas fa-hashtag"></i> {{ myEventTag.name }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
                {% endif %} 
                <p class="top-Event_Title">
                <a href="{{ path('my_event_show', {'id': feature_my_event.id}) }}">{{ feature_my_event.name }}</a>
                </p>
            </div>
        </div>
    </div>
</div>

<section class="sw-Section">
    <div class="top-Wide_Inner">
        <a class="top-Search_Weekend" href="{{ path('my_event_search', {'startDate': get_sat(), 'endDate': get_sun(), 'startTime':  "now"|date('G:i:s', "Asia/Tokyo")}) }}">
            今週末行けるイベントを探す
        </a>
    </div>
</section>

<div class="top-Wide top-Wide_Keyword">
    <div class="top-Wide_Inner">
        <h3 class="top-Wide_Title">キーワードから探す</h3>
        <ul class="top-Wide_KeywordLists">
        {% for tag in tag_lists() %}
            <li class="top-Wide_KeywordListsItem">
                <a href="{{ path('my_event_search', {'tag': tag.name == app.request.query.get('tag') ? null : tag.name}) }}">
                    <i class="fas fa-hashtag"></i>{{ tag.name }}
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

<section class="sw-Section">
    <div class="top-Wide_Inner">
    <h3 class="top-Wide_Title">新着イベント</h3>
    {% for my_event in my_events %}
        <div class="sw-Event">
            <div class="sw-Event_Inner">
                <div class="sw-Event_Img">
                <a href="{{ path('my_event_show', {'id': my_event.id}) }}">
                <img src="{{ vich_uploader_asset(my_event, 'imageFile') }}" alt="{{ my_event.imageName }}">
                </a>
                </div>
                
                <div class="sw-Event_Info">
                    <span class="sw-Event_Info-place"><i class="fas fa-map-marker-alt"></i> 
                    {{ my_event.myEventVenue.prefecture }}
                    </span>
                    <span class="sw-Event_Info-date">{{ my_event.myEventSchedule.eventDay|date("n月j日") }} {{ my_event.myEventSchedule.startTime|date("G:i") }}〜</span>
                </div>
                <h1 class="sw-Event_Title">
                <a href="{{ path('my_event_show', {'id': my_event.id}) }}">{{ my_event.name }}</a>
                </h1>
                <div class="sw-Event_Person">
                    <div class="sw-Event_Person-woman">
                        <div class="sw-Event_WomanUnit">
                            <div class="sw-Event_WomanIcon">
                                <i class="fas fa-ribbon"></i>
                            </div>
                            <div class="sw-Event_WomanInfo">
                                <div class="sw-Event_WomanInfo-limit">{{ my_event.myEventSchedule.womanTerms }}歳</div>
                                <div class="sw-Event_WomanInfo-text">
                                    {% include '_parts/female_count.html.twig' with {'myEvent': my_event} %}
                                </div>
                            </div>
                        </div>    
                    </div>
                    <div class="sw-Event_Person-man">
                        <div class="sw-Event_ManUnit">
                            <div class="sw-Event_ManIcon">
                                <i class="fab fa-black-tie"></i>
                            </div>
                            <div class="sw-Event_ManInfo">
                                <div class="sw-Event_ManInfo-limit">{{ my_event.myEventSchedule.manTerms }}歳</div>
                                <div class="sw-Event_ManInfo-text">
                                   {% include '_parts/male_count.html.twig' with {'myEvent': my_event} %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="sw-Event_Desc">{{ my_event.description }}</p>
                {% if not my_event.tags.empty %}
                <ul class="sw-Event_TagItems">
                {% for myEventTag in my_event.tags %}
                    <li class="sw-Event_TagItem">
                        <a href="{{ path('my_event_search', {'tag': myEventTag.name == app.request.query.get('tag') ? null : myEventTag.name}) }}">
                            <i class="fas fa-hashtag"></i> {{ myEventTag.name }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
                {% endif %} 
            </div>
        </div>
    {% else %}
        <p>現在開催中のイベントはございません。</p>
    {% endfor %}
    </div>
</section>

{% endblock %}