<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="format-detection" content="telephone=no">

        {% set title = 'OMUSVIログイン | OMUSVI' %}
        <title>{{ title }}</title>
       
        {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}

        <!-- Renders a link tag (if your module requires any CSS)
            <link rel="stylesheet" href="/build/app.css"> -->
    {% endblock %}
    </head>
    <body>
        <header class="sw-Header">
                        {% block header %}
                        <div class="sw-Header_Inner">
                            <div class="sw-Header_Branding">
                                <div class="sw-Header_Logo">
                                    <p class="sw-Header_Lead">
                                        <strong>名古屋</strong>中心に<strong>街コン</strong>を運営する</strong><span>OMUSVI</span>
                                    </p>
                                    <a class="sw-Header_LogoMark" href="{{ path('default_index') }}">
                                    OMUSVI
                                    </a>
                                </div>
                                
                                <div class="sw-Header_MainNavOuter">
                                    <nav class="sw-Header_MainNav">
                                        <div class="sw-Header_MainNavInner">
                                            <ul class="sw-Header_MainNavItems">
                                                    <li class="sw-Header_MainNavItem"><a href="{{ path('omipari_static', {page: "about"}) }}"><i class="fas fa-leaf"></i><br>ガイド</a></li>
                                                    <li class="sw-Header_MainNavItem"><a href="{{ path('omipari_static', {page: "qa"}) }}"><i class="far fa-question-circle"></i><br>ヘルプ</a></li>
                                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                    <li class="sw-Header_MainNavItem"><a href="{{ path('app_mypage_mypage_index') }}"><i class="fa fa-address-card"></i><br>会員情報</a></li>
                                                {% else %}
                                                    <li class="sw-Header_MainNavItem"><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-unlock-alt"></i><br>{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                                                {% endif %}
                                                </div>
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        {% endblock %}
        </header>
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <main class="sw-Main">
            <div class="sw-Main_Inner">
                <div class="sw-Content">
                        {% block fos_user_content %}
                        {% endblock fos_user_content %}
                </div>
                <aside class="sw-Side">
                    {% block side %}
                                    <div class="sw-Side_Inner">
                                        <div class="sw-Side_Keyword">
                                            <h2 class="sw-Side_KeywordTitle">OMUSVIの街コン・イベントを探す</h2>
                                            <ul class="sw-Side_KeywordItems">
                                                <li class="sw-Side_KeywordItem">
                                                    <h3 class="sw-Side_KeywordItemTitle"><i class="fas fa-hashtag"></i> イベントタグから探す</h3>
                                                    <ul class="sw-Side_KeywordLists">
                                                    </ul>
                                                </li>
                                                <li class="sw-Side_KeywordItem">
                                                    <h3 class="sw-Side_KeywordItemTitle"><i class="fas fa-search"></i> キーワードで探す</h3>
                                                    <ul class="sw-Side_KeywordLists">
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <ul class="sw-Side_Items">
                                            <li class="sw-Side_Item">
                                                <h3 class="sw-Side_ItemTitle"><i class="fas fa-sign-in-alt"></i> ログイン</h3>
                                                <ul class="sw-Side_ItemLists">
                                                    {% if is_granted('ROLE_USER') %}
                                                        <li class="sw-Side_ItemList"><a href="{{ path('default_index') }}">マイページ</a></li>
                                                        <li class="sw-Side_ItemList"><a href="{{ path('fos_user_security_logout') }}">ログアウト</a></li>
                                                    {% else %}
                                                        <li class="sw-Side_ItemList"><a href="{{ path('fos_user_registration_register') }}">会員登録</a></li>
                                                        <li class="sw-Side_ItemList"><a href="{{ path('fos_user_security_login') }}">ログイン</a></li>
                                                    {% endif %}
                                                </ul>
                                            </li>
                                            <li class="sw-Side_Item">
                                                <h3 class="sw-Side_ItemTitle"><i class="fas fa-bars"></i> コンテンツ</h3>
                                                <ul class="sw-Side_ItemLists">
                                                    <li class="sw-Side_ItemList"><a href="{{ path('omipari_static', {page: "about"}) }}">ブログ一覧</a></li>
                                                    <li class="sw-Side_ItemList"><a href="{{ path('omipari_static', {page: "about"}) }}">会場一覧</a></li>  
                                                </ul>
                                            </li>
                                            <li class="sw-Side_Item">
                                                <h3 class="sw-Side_ItemTitle">オミパリとは</h3>
                                                <ul class="sw-Side_ItemLists">
                                                    <li class="sw-Side_ItemList"><a href="{{ path('omipari_static', {page: "about"}) }}">オミパリについて</a></li>
                                                    <li class="sw-Side_ItemList"><a href="{{ path('omipari_static', {page: "qa"}) }}">よくある質問</a></li> 
                                                </ul>
                                            </li>
                                        </ul>                  
                                    </div>
                                
                                {% endblock %}
                            </div>
                        </aside>
            </div>
        </main>
    </body>
</html>
