{% extends 'base.html.twig' %}

{% block title %}Accept index{% endblock %}

{% block body %}
    <h1>Accept index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Men_accept</th>
                <th>Woman_accept</th>
                <th>CreatedAt</th>
                <th>ModifiedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for accept in accepts %}
            <tr>
                <td>{{ accept.id }}</td>
                <td>{{ accept.menAccept }}</td>
                <td>{{ accept.womanAccept }}</td>
                <td>{{ accept.createdAt ? accept.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ accept.modifiedAt ? accept.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('accept_show', {'id': accept.id}) }}">show</a>
                    <a href="{{ path('accept_edit', {'id': accept.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('accept_new') }}">Create new</a>
{% endblock %}
