{% extends 'base.html.twig' %}

{% block title %}Accept{% endblock %}

{% block body %}
    <h1>Accept</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ accept.id }}</td>
            </tr>
            <tr>
                <th>Men_accept</th>
                <td>{{ accept.menAccept }}</td>
            </tr>
            <tr>
                <th>Woman_accept</th>
                <td>{{ accept.womanAccept }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ accept.createdAt ? accept.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ModifiedAt</th>
                <td>{{ accept.modifiedAt ? accept.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('accept_index') }}">back to list</a>

    <a href="{{ path('accept_edit', {'id': accept.id}) }}">edit</a>

    {{ include('accept/_delete_form.html.twig') }}
{% endblock %}
