{{ form_start(form, {attr: {class: "sw-Search_Form"}}) }}
    <div class="sw-Search_RadioButton btn-group-toggle">
         {% for child in form.eventTimeZone %}
            {{ form_widget(child, { 'attr': {'class': '', 'name': 'options', 'autocomplete': "off"}}) }}
         {% endfor %}
    </div>
    <div class="form-row form-group">
        <div class="col-12 col-sm-6">
            {{ form_row(form.tag, {attr: {class: "sw-Search_FormSelect"}}) }}
        </div>
        <div class="col-12 col-sm-6">
            {{ form_row(form.prefecture, {attr: {class: "sw-Search_FormSelect"}}) }}
        </div>
    </div>
    <div class="form-row form-group">
        <div class="col-12">
            {{ form_label(form.startDate) }}
        </div>
        <div class="col-12">
            <span class="sw-Search_FormDate">
                {{ form_widget(form.startDate, {attr: {class: "sw-Search_FormInput"}}) }}
                        〜
                {{ form_widget(form.endDate, {attr: {class: "sw-Search_FormInput"}}) }}
                {{ form_help(form.startDate) }}
                {{ form_help(form.endDate) }}
            </span>
        </div>
    </div>
    
     
    <button class="sw-Search_Submit">検索する</button>
{{ form_end(form) }}