{% extends "base.html.twig" %}

{% block head %}
    <title>イベント検索一覧|愛知県名古屋を中心に街コン開催中OMUSVi</title>
    <meta name="description" content="出会えるイベントの検索一覧ページです。イベント開催日、イベントタグ、イベント時間から検索可能です。">
{% endblock %}

{% block og %}
    <meta property="og:site_name" content="OMUSVi">
    <meta property="og:title" content="イベント検索一覧|OMUSVi">
    <meta property="og:description" content="出会えるイベントの検索一覧ページです。イベント開催日、イベントタグ、イベント時間から検索可能です。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ app.request.uri }}">
    <meta property="og:image" content="">
{% endblock %}
    
{% block twitter %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ app.request.uri }}">
    <meta name="twitter:description" content="出会えるイベントの検索一覧ページです。イベント開催日、イベントタグ、イベント時間から検索可能です。" />
    <meta name="twitter:image" content="ogpのURL貼る">
{% endblock %}

{% block main %}
<section class="sw-Section">
    {% include 'search/_form.html.twig' %}
    <div class="sw-Event_Counter"><span>{{ total }}</span>件中 {{ start }}~{{ end }}件</div>
    {% for schedule in pagination %}
        {% set myEvent = schedule.myEvent %}
        {% include '/_parts/event_list.html.twig' with {my_event: myEvent} %}


        <div class="sw-Event_Pagination">
            {{ knp_pagination_render(pagination, null, {}, {align: "center"}) }}
        </div>

    {% else %}
        <p style="padding: 0 5px;">現在開催中のイベントはございません。</p>
    {% endfor %}
</section>
{% endblock %}