{{ form_start(form) }}
<div class="modal-body">
    {% if (user.userDetail.gender == 'male') %}
    {{ form_row(form.menCount) }}
    {% elseif ((user.userDetail.gender == 'female') ) %}
    {{ form_row(form.womanCount) }}
    {% endif %}
    {{ form_row(form.paymentType) }}
</div>
{{ form_rest(form) }}
<div class="modal-footer">
    <button class="btn btn-primary">{{ button_label|default('Confirm') }}</button>
</div>
{{ form_end(form) }}
