{% extends "base.html.twig" %}

{% set title = 'オミパリトップページ' %}
{% set description = 'オミパリとは街コンイベント運営会社です。愛知県名古屋を' %}
{% set canonical = 'canonical' %}


{% block main %}
    <section class="sw-Section">
        <div class="myapp-Content">
            <div class="myapp-Confirm">
                <h1 class="myapp-Confirm_Title">申し込み確認画面</h1>
                <div class="myapp-Confirm_Inner">
                    <div class="myapp-Confirm_Unit">
                        {# <p class="myapp-Confirm_Label">イベント名</p> #}
                        <p class="myapp-Confirm_Img"><img src="{{ vich_uploader_asset(schedule.myEvent, 'imageFile') }}" alt="{{ schedule.myEvent.imageName }}">
                        <p class="myapp-Confirm_Name">{{ schedule.myEvent.name }}</p>
                    </div>
                    <div class="myapp-Confirm_Unit">
                        <p class="myapp-Confirm_Label">イベント概要</p>
                        <p class="myapp-Confirm_Desc">{{ schedule.myEvent.description }}</p>
                    </div>
                    <div class="myapp-Confirm_Unit">
                        <p class="myapp-Confirm_Label">イベント開催日時</p>
                        <p class="myapp-Confirm_Dete">
                        {{ schedule.eventDay|date("n月j日") }} {{ schedule.startTime|date("G:i") }}〜
                        </p>
                    </div>
                    <div class="myapp-Confirm_Unit">
                        <p class="myapp-Confirm_Label">イベント料金/人数</p>
                        {% if (detail.gender == 'male') %}
                        <p class="myapp-Confirm_Men">応募人数：{{ data.menCount }}人　{{ schedule.myEvent.menPrice|number_format }}円/人</p>
                        <p class="myapp-Confirm_Total">合計：{{ schedule.myEvent.menPrice * data.menCount }}円</p>
                        {% elseif (detail.gender == 'female') %}
                        <p class="myapp-Confirm_Woman">応募人数：{{ data.womanCount }}人　{{ schedule.myEvent.womanPrice|number_format }}円/人</p>
                         <p class="myapp-Confirm_Total">合計：{{ schedule.myEvent.menPrice * data.womanCount }}円</p>

                        {% endif %}
                    </div>
                    <div class="myapp-Confirm_Unit">
                        <p class="myapp-Confirm_Label">支払い方法</p>
                        {% if (data.paymentType == 'bt') %}
                        <p class="myapp-Confirm_PayMentType">銀行振込</p>
                        <p class="myapp-Confirm_PayMentType-text">
                            申し込み完了メールに振り込み先が記載してありますのでその口座にこの金額をお振り込みお願い致します。<br>
                            また、振り込み手数料はお客様ご負担でご了承ください。<br>
                            <br>
                            振り込みが終わりましたら、マイページから"入金報告"をお願い致します。
                            入金確認後イベント申し込み完了となります。よろしくお願い致します。 
                        </p>
                        {% elseif (data.paymentType == 'lp') %}
                        <p class="myapp-Confirm_PayMentType">現地払い</p>
                        {% endif %}
                    </div>    
                </div>
            </div>
            {{ form_start(form, {'method': 'post', 'action': path('my_event_application_confirm', { 'id': schedule.id }), 'attr': {'class': 'my_event_application_confirm'}}) }}
            {{ form_rest(form) }}
            <p class="text-center">
                    <a class="btn contact-Form_ButtonBack" href="{{ path('my_event_show', { 'id': schedule.myEvent.id }) }}">戻って修正</a>
                    <button class="btn-primary btn contact-Form_ButtonCkeck" type="submit">送信する</button>
                </p>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
