{% extends 'base.html.twig' %}

{% block title %}MyEventApplication{% endblock %}

{% block body %}
    <h1>MyEventApplication</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ my_event_application.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ my_event_application.status }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ my_event_application.createdAt ? my_event_application.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ my_event_application.updatedAt ? my_event_application.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('my_event_application_index') }}">back to list</a>

    <a href="{{ path('my_event_application_edit', {'id': my_event_application.id}) }}">edit</a>

    {{ include('my_event_application/_delete_form.html.twig') }}
{% endblock %}
