{% extends 'base.html.twig' %}

{% block head %}
	<title>お問い合わせ確認</title>
{% endblock %}

{% block main_outer %}
    <div class="sw-Content_Top container">
        <header class="sw-Content_Header">
            <h1>お問い合わせ確認</h1>
            <p class="contact-Detail">入力内容を確認の上、「送信する」ボタンを押してください。</p>
        </header>
        <main class="sw-PageBody">
            <section class="sw-Section">
                <div class="sw-Section_Body">
                    {{ form_start(form, {'method': 'post', 'action': path('contact_confirm'), 'attr': {'class': 'app_contact'}}) }}
                    <table class="table table-bordered contact-Table">
                        <tr>
                            <th>
                                お名前
                            </th>
                            <td>
                                {{ data.name }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                メールアドレス
                            </th>
                            <td>
                                {{ data.email }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                お電話番号
                            </th>
                            <td>
                                {{ data.telNumber }}
                            </td>
                        </tr>
                    </table>
                    <div class="contact-Confirm_Body">
                        <p>お問い合わせ内容</p>
                        <div>{{ data.body|nl2br }}</div>
                    </div>
                            {{ form_rest(form) }}

                    <p class="text-center">
                        <a class="btn-lg contact-Form_ButtonBack" href="{{ path('contact_index') }}">戻って修正</a>
                        <button class="btn-primary btn-lg contact-Form_ButtonCkeck" type="submit">送信する</button>
                    </p>
                    {{ form_end(form) }}
                </div>
            </section>
        </main>
    </div>



{% endblock %}