{% extends 'base.html.twig' %}

{% block head %}
	<title>お問い合わせ</title>
{% endblock %}

{% block main_outer %}
    <div class="sw-Content_Top container">
        <header class="sw-Content_Header">
            <h1>お問い合わせ</h1>
            <p class="contact-Detail">お名前、メールアドレス、お問い合わせ内容をご入力の上、「確認する」ボタンを押してください。</p>
        </header>
        <main class="sw-PageBody">
            <section class="sw-Section">
                <div class="contact-Form mb-3">
                    <div class="contact-Form_Body">
                        {{ form_start(form, {'method': 'post', 'action': path('contact_index'), 'attr': {'class': 'app_contact'}}) }}
                        <div class="row">
                            <div class="col-12">
                                {{ form_row(form.name, {label: "お名前"}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {{ form_row(form.email.first, {label: "メールアドレス"}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {{ form_row(form.email.second, {label: "(再入力)"}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {{ form_row(form.telNumber, {label: "お電話番号", attr:{placeholder: 'ハイフンなしの半角英数字で入力してください'}}) }}
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-12">
                                {{ form_row(form.body, {label: "お問い合わせ内容", attr: {rows:10}}) }}
                            </div>
                        </div>
                        {{ form_rest(form) }}

                        <p class="text-center contact-Form_Button">
                            <button class="sw-Btn btn-block contact-Form_ButtonCkeck" type="submit">確認する</button>
                        </p>

                        {{ form_end(form) }}
                    </div>
                </div>
            </section>
        </main>
    </div>
{% endblock %}

