<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}slack todo{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

</head>
<body>
{% block content %}
    <header>
<div class="sw-Header_Branding">
                    <p class="sw-Header_Lead">
                        名古屋イベント情報多数掲載「愛知コン」
                    </p>
                    <div class="sw-Header_Logo">
                        <a href="{{ path('event_index') }}">
                            <img src="}" alt="愛知こん">
                        </a>
                    </div>
                    <div class="sw-Header_CatchCopy">
                        <p>
                        <strong>愛知県名古屋市を中心にイベント情報を</strong><span>探せる</span><span>名古屋イベント情報サイト!</span>
                        </p>
                    </div>

                    <nav class="sw-Header_SubNav">
                        <button class="btn sw-Header_MenuToggle" id="menu-toggle">
                            <i></i>
                            <i></i>
                            <i></i>
                        </button>

                        <ul class="sw-Header_SubNavItems">
                            {% if is_granted('ROLE_USER') %}
                                <li class="sw-Header_SubNavItem"><a href="{{ path('event_index') }}"><i class="fa fa-user"></i> マイページ</a></li>
                                <li class="sw-Header_SubNavItem"><a href="{{ path('event_index') }}"><i class="fa fa-unlock-alt"></i> ログアウト</a></li>
                            {% else %}
                                <li class="sw-Header_SubNavItem"><a href="{{ path('event_index') }}"><i class="fa fa-user"></i> 会員登録</a></li>
                                <li class="sw-Header_SubNavItem"><a href="{{ path('event_index') }}"><i class="fa fa-unlock-alt"></i> ログイン</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <nav class="sw-Header_MainNav">
                    <div class="sw-Header_SpMainNav">
                        <h5 class="sw-Header_SpMainNav-title">ログイン</h5>
                        <ul class="sw-Header_SpMainNavItems">
                            {% if is_granted('ROLE_USER') %}
                                <li class="sw-Header_SpMainNavItem"><a href="{{ path('event_index') }}"><i class="fa fa-user"></i> マイページ</a></li>
                                <li class="sw-Header_SpMainNavItem"><a href="{{ path('event_index') }}"><i class="fa fa-unlock-alt"></i> ログアウト</a></li>
                            {% else %}
                                <li class="sw-Header_SpMainNavItem"><a href="{{ path('event_index') }}"><i class="fa fa-user"></i> 会員登録</a></li>
                                <li class="sw-Header_SpMainNavItem"><a href="{{ path('event_index') }}"><i class="fa fa-unlock-alt"></i> ログイン</a></li>
                            {% endif %}
                            <li class="sw-Header_SpMainNavItem"><a href="{{ path('event_index') }}"><i class="fa fa-shopping-cart"></i> カート</a></li>
                        </ul>
                    </div>
                    {% if is_granted('ROLE_USER') %}
                    <div class="sw-Header_SpMainNav">
                        <h5 class="sw-Header_SpMainNav-title">マイページ</h5>
                        <ul class="sw-Header_SpMainNavItems">
                            <li class="sw-Header_SpMainNavItem"><a href="{{ path('event_index') }}"><span><i class="fa fa-id-card"></i> 登録情報</span></a></li>
                            <li class="sw-Header_SpMainNavItem"><a href="{{ path('event_index') }}"><span><i class="fa fa-history"></i> 注文履歴</span></a></li>
                            <li class="sw-Header_SpMainNavItem"><a href="{{ path('event_index') }}"><span><i class="fa fa-money-check-alt"></i> 見積もり</span></a></li>
                            <li class="sw-Header_SpMainNavItem"><a href="{{ path('event_index') }}"><span><i class="fa fa-star"></i> お気に入り</span></a></li>
                        </ul>
                    </div>
                    {% endif %}
                    <h5 class="sw-Header_SpMainNav-title">愛知コンとは？</h5>
                    <ul class="sw-Header_MainNavItems">
                        <li class="sw-Header_MainNavItem"><a href="{{ path('event_index') }}">TOP</a></li>
                        <li class="sw-Header_MainNavItem"><a href="{{ path('event_index') }}">中国仕入れ.comとは</a></li>
                        <li class="sw-Header_MainNavItem"><a href="{{ path('event_index') }}">ご利用ガイド</a></li>
                        <li class="sw-Header_MainNavItem"><a href="{{ path('event_index') }}">料金・送料について</a></li>
                        <li class="sw-Header_MainNavItem"><a href="{{ path('event_index') }}">よくある質問</a></li>
                    </ul>
                </nav>
    </header>
    <main role="main">
        {% block body %}
        {% endblock %}
    </main>
            <footer class="sw-Footer">
                <div class="sw-Footer_Inner">
                    <div class="sw-Footer_Logo">
                        <a href="{{ path('event_index') }}">
                            <img  alt="愛知コン.com">
                        </a>
                    </div>
                    {#<nav class="sw-Footer_MainNav">#}
                    {#<ul>#}
                    {#<li><a href="{{ path('xearts_ch_shiire_static', {page: 'about'}) }}">中国仕入れ.comとは</a></li>#}
                    {#<li><a href="{{ path('xearts_ch_shiire_static', {page: 'guide'}) }}">ご利用ガイド</a></li>#}
                    {#<li><a href="{{ path('xearts_ch_shiire_static', {page: 'fee'}) }}">料金・送料について</a></li>#}
                    {#<li><a href="{{ path('xearts_ch_shiire_qa') }}">よくある質問</a></li>#}
                    {#</ul>#}
                    {#</nav>#}
                    <nav class="sw-Footer_MainNav">
                        <div class="sw-Footer_MainNav-inner">
                            <dl class="sw-Footer_MainNavList">
                                <dt class="footer-accordion">コンテンツ</dt>
                                <dd class="sw-Footer_MainNavList-description sw-Footer_Accordion-area">
                                    <ul>
                                        <li><a href="{{ path('event_index') }}">運営会社</a></li>
                                        <li><a href="{{ path('event_index') }}">利用規約</a></li>
                                        <li><a href="{{ path('event_index') }}">特定商取引法に基づく表記</a></li>
                                        <li><a href="{{ path('event_index') }}">国際輸送約款</a></li>
                                        <li><a href="{{ path('event_index') }}">お問い合わせ</a></li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl class="sw-Footer_MainNavList">
                                <dt class="footer-accordion">商品をお探しなら</dt>
                                <dd class="sw-Footer_MainNavList-description sw-Footer_Accordion-area">
                                    <ul>
                                        <li><a href="{{ path('event_index') }}">カテゴリ一覧</a></li>
                                        <li><a href="{{ path('event_index') }}">注目のカテゴリ（タオバオ）</a></li>
                                        <li><a href="{{ path('event_index') }}">注カテゴリ（アリババ）</a></li>
                                        <li><a href="{{ path('event_index') }}">人気の商品</a></li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl class="sw-Footer_MainNavList">
                                <dt class="footer-accordion">お困りの時は</dt>
                                <dd class="sw-Footer_MainNavList-description sw-Footer_Accordion-area">
                                    <ul>
                                        <li><a href="{{ path('event_index') }}">中国仕入れ.comとは</a></li>
                                        <li><a href="{{ path('event_index') }}">ご利用ガイド</a></li>
                                        <li><a href="{{ path('event_index') }}">料金・送料について</a></li>
                                        <li><a href="{{ path('event_index') }}">よくある質問</a></li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </nav>
                </div>
            </footer>
{% endblock %}
    
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
